<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "{{ site.baseurl }}/" %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.url == "{{ site.baseurl }}/" %} active{% endif %}" href="/Blog">Blog</a>
      <a class="sidebar-nav-item{% if page.url == "{{ site.baseurl }}/" %} active{% endif %}" href="/about">About</a>
      <a class="sidebar-nav-item{% if page.url == "{{ site.baseurl }}/" %} active{% endif %}" href="/CV">CV</a>
      <a class="sidebar-nav-item{% if page.url == "{{ site.baseurl }}/" %} active{% endif %}" href="/LICENSE">License</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
