
<div class="recipes-list-item">
        <div class="left-half">
            <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
            <span class="post-list-item-date">
                {{ .PublishDate.Format "Jan 2, 2006" }}
            </span>
    
            <span class="recipes-description">
                {{ with .Params.description }}
                    {{ . }}
                {{ end }}
            </span>
        </div>
    
        <div class="right-half">
            {{ with .Params.teaser_image }}
            <img class="teaser-image" src="{{ . }}" alt="png"></img>
            {{ end }}
        </div>
    </div>
    <hr>