.post-title {
  color: $lightest-color;
  font-size: 2.5em;
}

.post-content {
  pre {
    border-left: 0.2em solid rgba($theme_green, .8);
    padding-left: 1em;
  }
}

.post-meta {
  font-size: 0.8em;
}
