.posts-list {
  padding: 0;
}

/* another hack since i dont know where this was being set */
.posts-list-item-title {
  text-decoration: none;
  font-size: 1.5em;
}

.post-list-item-date {
  display: block;
  font-size: 0.8em;
}

.posts-list-item-description {
  display: block;
  font-size: 0.9em;
}



.list-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .left-half {
    grid-column: 1;
    a {
      text-decoration: none;
    }
  }

  .right-half {
    grid-column: 2;
  }
}

.teaser-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.summary {
  font-size: 1em;
}

