// ==============================================
// Syntax Highlighting (Code Blocks)
// ==============================================

.highlight {
  font-family: $font-mono;
  font-size: 0.875rem;
  line-height: 1.6;
  
  // Generic styles
  .gd { color: #A00000 } /* Generic.Deleted */
  .err { color: $theme_red; border: none !important; } /* Error */
  .gr { color: #FF0000 } /* Generic.Error */
  .cs { color: #cc0000; font-weight: 600 } /* Comment.Special */
  .ge { font-style: italic } /* Generic.Emph */
  .gh { color: #000080; font-weight: 600 } /* Generic.Heading */
  .gi { color: #00A000 } /* Generic.Inserted */
  .go { color: #6b7280 } /* Generic.Output */
  .gp { color: $theme_teal; font-weight: 600 } /* Generic.Prompt */
  .gs { font-weight: 600 } /* Generic.Strong */
  .gu { color: $theme_purple; font-weight: 600 } /* Generic.Subheading */
  .gt { color: #0044DD } /* Generic.Traceback */
  .ni { color: #880000; font-weight: 600 } /* Name.Entity */
  .ne { color: $theme_red; font-weight: 600 } /* Name.Exception */
  .nl { color: #997700; font-weight: 600 } /* Name.Label */
  .nt { color: $theme_green } /* Name.Tag */
  .nv { color: #996633 } /* Name.Variable */
  .na { color: $theme_blue } /* Name.Attribute */
  .nd { color: $theme_purple; font-weight: 600 } /* Name.Decorator */
  .ow { color: $theme_green; font-weight: 600 } /* Operator.Word */
  .k { color: $theme_green; font-weight: 600 } /* Keyword */
  .o { color: $theme_purple } /* Operator */

  // String Literals
  .s, .se, .sd, .sx, .sr, .ss, .s1, .s2, .sa, .sb, .sc, .dl {
    color: $theme_red;
  }
  
  // Number literals
  .m, .mb, .mf, .mh, .mi, .mo, .il {
    color: $theme_teal;
  }
  
  // Keywords
  .kd, .kn, .kp, .kr, .kt {
    color: $theme_green;
    font-weight: 600;
  }
  
  // Constants (self, True, False, None)
  .kc, .bp {
    color: $theme_green;
  }
  
  // Comments
  .w, .c, .ch, .cm, .cpf, .c1, .cp {
    color: #6b7280;
    font-style: italic;
  }
  
  // Functions, classes, names
  .nn, .nc, .no, .nf, .fm {
    color: $theme_blue;
    font-weight: 600;
  }
  
  // Builtins
  .nb, .np {
    color: $theme_green;
  }

  .vm {
    color: $fg-color;
  }
}

.code {
  background-color: $theme_code_background;
}