---
---

@import "minima";

:root {
  --ec_black: #000000;
  --ec_code_background: #eef;
  --ec_blue: #0066BB;
  --ec_red: red;
  --ec_green: green;
  --ec_purple: purple;

  --theme_blue: #2a5c8e;
  --theme_teal: #037171;
  --theme_red: #bc3843;
  --theme_green: #2a7f62;
  --theme_darkgreen: #03312e;
}


/**
 * Syntax highlighting styles
 */

.highlighter-rouge .highlight {
  background: var(--ec_code_background);
}

.highlight .c { color: #888888 } /* Comment */
.highlight .err { color: #FF0000; } /* Error */
.highlight .k { color: var(--ec_green); font-weight: bold } /* Keyword */
.highlight .o { color: var(--ec_black);  } /* Operator */

.highlight .ch { color: #888888 } /* Comment.Hashbang */
.highlight .cm { color: #888888 } /* Comment.Multiline */
.highlight .cp { color: #557799 } /* Comment.Preproc */
.highlight .cpf { color: #888888 } /* Comment.PreprocFile */
.highlight .c1 { color: #888888 } /* Comment.Single */
.highlight .cs { color: #cc0000; font-weight: bold } /* Comment.Special */

.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */

.highlight .kc { color: var(--ec_green); font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: var(--ec_green); font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: var(--ec_green); font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: var(--ec_green); font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: var(--ec_green); font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: var(--ec_green); font-weight: bold } /* Keyword.Type */


/* .highlight .s { background-color: #fff0f0 }*/ /* Literal.String */

.highlight .na { color: #0000CC } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: var(--ec_blue); font-weight: bold } /* Name.Class */
.highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.highlight .nd { color: var(--ec_purple); font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: var(--ec_blue); font-weight: bold } /* Name.Function */
.highlight .nl { color: #997700; font-weight: bold } /* Name.Label */
.highlight .nn { color: var(--ec_blue); font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #007700 } /* Name.Tag */
.highlight .nv { color: #996633 } /* Name.Variable */

.highlight .ow { color: var(--ec_green); font-weight: bold } /* Operator.Word */

.highlight .w { color: #bbbbbb } /* Text.Whitespace */

.highlight .m  { color: var(--ec_green);} /* Literal.Number */
.highlight .mb { color: var(--ec_green); } /* Literal.Number.Bin */
.highlight .mf { color: var(--ec_green); } /* Literal.Number.Float */
.highlight .mh { color: var(--ec_green); } /* Literal.Number.Hex */
.highlight .mi { color: var(--ec_green); } /* Literal.Number.Integer */
.highlight .mo { color: var(--ec_green); } /* Literal.Number.Oct */

.highlight .sc { color: var(--ec_red); } /* Literal.String.Char */
.highlight .sd { color: var(--ec_red); } /* Literal.String.Doc */
.highlight .se { color: var(--ec_red); } /* Literal.String.Escape */
.highlight .sx { color: var(--ec_red); } /* Literal.String.Other */
.highlight .sr { color: var(--ec_red); } /* Literal.String.Regex */
.highlight .ss { color: var(--ec_red); } /* Literal.String.Symbol */

.highlight .bp { color: var(--ec_green); } /* Name.Builtin.Pseudo: True, self */





/* Tables!! Pandas DataFrame! :) */
table {
    width: 80%;
    align: center;
    border: none;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 10px;
}

th, td {
  text-align: center !important;
  padding: 5px;
  border: none;
}

th {
  border-bottom: 1px solid #f2f2f2;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #f5f5f5;}


/* generic html stuff */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

dt {
  float: left;
  width: 75%;
  text-align: left;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}

dd {
  float: right;
  width: 25%;
  text-align: right;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-size: 1.5em !important;
  color: var(--theme_green);
}

h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 1.15em !important;
  color: var(--theme_teal);
}

h4 {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.25em !important;
  color: var(--theme_teal);
}


h5 {
  text-align: center;
  font-size: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  color: var(--theme_blue);
}

strong {
  color: var(--theme_darkgreen);
}

em {
  color: var(--theme_darkgreen);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--theme_green);
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0;
}

ul {
  margin-top: 0em;
  margin-bottom: -0em;
}
