<header class="app-header no-print">
    <a href="{{ "/" | relURL }}"><img class="app-header-avatar" src="{{ "avatar.jpg" | relURL }}" alt="{{ .Site.Params.author | default "John Doe" }}" /></a>
    <h1>{{ .Site.Title }}</h1>

    <nav class="app-header-nav">
        <a class="app-header-link" href="{{ "/" | relURL }}">About Me</a>
        <a class="app-header-link" href="{{ "/blog/" | relURL }}">Blog</a>
        <a class="app-header-link" href="{{ "/cv/" | relURL }}">CV</a>
    </nav>
    
    {{ with .Site.Params.description }}
    <p>{{ . }}</p>
    {{ end }}
    
    <div class="app-header-social">
        {{ range .Site.Params.social }}
            <a target="_blank" href="{{ .url }}" rel="noopener noreferrer">{{ partial "icon.html" (dict "ctx" $ "name" .name ) }}</a>
        {{ end }}
    </div>
</header>